@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand|Roboto:100');

h1 {
  font-size: 50px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 50px;
}

h2 {
  padding: 30px;
  padding-bottom: 0px;
  text-align: left;
  color: #a2b6bd;
  line-height: 30px;
}

h1,
h2 {
  font-family: Roboto;
  text-transform: uppercase;
}

::selection {
  background-color: #a2b6bd;
  color: #fff;
}

::-webkit-scrollbar {
  height: 4px;
  width: 10px;
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a2b6bd;
  border: 1px solid #ffffff;
}

body {
  font-size: 14px;
  font-family: Open Sans;
  letter-spacing: 1px;
  color: #3e3f3c;
  background-image: url('grid.png');
}

.landing {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #a2b6bd;
  font-family: Quicksand;
}

.menu img {
  position: fixed;
  width: 30px;
  float: right;
  padding: 10px;
  padding-right: 18px;
  right: -5px;
  z-index: 10;
}
#full-navbar {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 10;
}
#full-navbar ul {
  left: 0px !important;
  display: flex;
  margin-top: 7px;
  justify-content: center;
}

#full-navbar li a {
  letter-spacing: 2px;
  font-size: 12px;
  padding: 7px;
  background-color: white;
  color: #a2b6bd;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  margin: 5px;
}

#full-navbar li a:hover {
  border: 1px solid #a2b6bd;
  background-color: #a2b6bd;
  color: white;
  transition: 200ms ease-in-out;
}

#navbar {
  width: 40px;
  float: right;
  margin-top: 40px;
  right: 13px;
  position: fixed;
  z-index: 10;
  clear: both;
}

li a {
  text-transform: uppercase;
  padding: 6px;
}

#navbar img,
#full-navbar img {
  width: 30px;
  margin-left: -30px;
  margin-top: 1px;
}

#full-navbar li a,
.nav-text {
  -webkit-box-shadow: 3px 3px 4px -2px rgba(153, 153, 153, 0.4);
  -moz-box-shadow: 3px 3px 4px -2px rgba(153, 153, 153, 0.4);
  box-shadow: 3px 3px 4px -2px rgba(153, 153, 153, 0.4);
}

.nav-text {
  float: right;
  text-align: center;
  margin-right: 40px;
  margin-top: 3px;
  background-color: #a2b6bd;
  color: #fff;
  padding: 6px;
  border-radius: 25px;
  font-size: 12px;
  width: 100px;
}

.nav-text:hover {
  background-color: #b9c4c8;
  transition: 200ms ease-in-out;
}

.bio-desc h2 {
  margin: 5px 5px 5px 0;
}

.bio-img,
.bio-desc {
  margin: auto;
  width: 500px;
}

.bio-img img {
  object-fit: cover;
  width: 500px;
  height: 500px;
}

.bio-img {
  object-fit: cover;
  margin-left: 0px;
  height: 500px;
}

.bio-desc {
  padding-bottom: 10px;
  background-color: white;
  border: 1px solid #f2f2f2;
  margin-top: -370px;
  position: absolute;
  margin-left: 480px;
}

.bio-desc h2 {
  padding: 2px;
}

.text {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.bio {
  width: 980px;
  margin: 0 auto;
}

hr {
  margin-top: -30px;
  margin-bottom: 30px;
  width: 100px;
}

.padding {
  clear: both;
  height: 20px !important;
}

@viewport {
  width: device-width;
  zoom: 1;
}

#projects {
  background-image: url('geometry.png');
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.project {
  margin: 0 auto;
  width: 690px;
  margin-bottom: 200px;
}

.v2 {
  margin-bottom: 100px;
}

.proj-background {
  width: 655px;
  height: 350px;
  position: absolute;
  z-index: 0;
  margin-top: 40px;
  margin-left: 40px;
}

.v2 .proj-background {
  margin-top: -40px;
}

.proj-img {
  position: relative;
  z-index: 3;
  margin-left: 300px;
}

.proj-img,
.proj-img img {
  width: 350px;
  height: 350px;
}

.proj-img img {
  object-fit: cover;
}

.v2 .proj-img {
  width: 500px;
  height: 350px;
  margin-left: -10px;
}

.v2 .proj-img img {
  width: 500px;
  height: 350px;
}

.proj-desc {
  width: 300px;
  height: 275px;
  background-color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: -336px;
}

.proj-desc .text {
  width: 85%;
  margin: 0 auto;
  padding: 0 20px 20px 30px;
}

.proj-desc a {
  border: 1px solid #a2b6bd;
  padding: 7px;
}

.proj-desc a:hover {
  color: #fff;
  background-color: #a2b6bd;
  transition: 300ms ease-in-out;
}

.v2 .proj-desc {
  margin-top: -310px;
  margin-left: 410px;
  z-index: 4;
}

.proj-img,
.proj-desc,
.proj-background,
.place,
.bio-img,
.bio-desc,
.bio-background {
  -webkit-box-shadow: 9px 9px 20px -2px rgba(153, 153, 153, 0.4);
  -moz-box-shadow: 9px 9px 20px -2px rgba(153, 153, 153, 0.4);
  box-shadow: 9px 9px 20px -2px rgba(153, 153, 153, 0.4);
}

.v2 .proj-img,
.v2 .proj-desc,
.v2 .proj-background {
  -webkit-box-shadow: -9px 9px 20px -2px rgba(153, 153, 153, 0.4);
  -moz-box-shadow: -9px 9px 20px -2px rgba(153, 153, 153, 0.4);
  box-shadow: -9px 9px 20px -2px rgba(153, 153, 153, 0.4);
}

.project hr {
  margin: 0 auto;
}

#photography {
  margin: 0 auto;
  max-width: 762px;
  margin-bottom: 5vh;
}

#photography img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  padding-left: 2px;
  padding-right: 2px;
}

.place {
  display: inline-block;
}

.place2 {
  margin-top: -10px;
}

#photography h2 {
  color: white;
  padding: 6px 15px 5px 20px;
  line-height: 14px;
}

.location {
  width: 253px;
  height: 100px;
  float: left;
  margin: 0 auto;
  margin-top: 70px;
}

.float-right {
  float: right;
}

#about,
#projects h1,
#photography {
  margin-top: 12vh;
}

@media only screen and (min-width: 1001px) {
  #navbar,
  .menu,
  #nav-visibility {
    display: none !important;
  }
}
@media only screen and (max-width: 1000px) {
  #full-navbar {
    display: none;
  }

  .bio-img,
  .bio-img img {
    height: 200px;
  }

  .bio-img,
  .bio-img img,
  .bio-desc,
  .bio {
    width: 600px;
  }

  .bio-desc,
  .bio {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 720px) {
  .project {
    width: 601px;
    margin-bottom: 50px;
  }

  .project .text {
    padding-bottom: 35px;
  }

  .proj-background {
    display: none;
  }

  .proj-img,
  .proj-img img,
  .proj-desc,
  .v2 .proj-img,
  .v2 .proj-img img,
  .v2 .proj-desc {
    width: 300px;
    height: 300px;
  }

  .proj-img,
  .v2 .proj-desc {
    margin-left: 301px;
  }

  .proj-desc,
  .v2 .proj-desc {
    margin-top: -317px;
  }

  .v2 .proj-img {
    margin-left: 0px;
  }

  .v2 .proj-img,
  .v2 .proj-desc {
    -webkit-box-shadow: 9px 9px 20px -2px rgba(153, 153, 153, 0.4);
    -moz-box-shadow: 9px 9px 20px -2px rgba(153, 153, 153, 0.4);
    box-shadow: 9px 9px 20px -2px rgba(153, 153, 153, 0.4);
  }
}

@media only screen and (max-width: 610px) {
  .bio-img,
  .bio-img img {
    height: 200px;
  }

  .bio-img,
  .bio-img img,
  .bio-desc,
  .bio,
  .proj-desc,
  .project,
  .v2 .proj-desc {
    width: 380px;
    margin: 0 auto;
  }

  .bio-desc,
  .bio {
    margin: 0 auto;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 20px;
    padding-top: 20px;
  }

  body {
    font-size: 13px;
  }

  .project {
    padding-bottom: 30px;
  }

  .project .text {
    margin-top: -10px;
    padding-bottom: 25px;
  }
  .proj-img,
  .proj-img img,
  .v2 .proj-img,
  .v2 .proj-img img {
    width: 380px;
    height: 200px;
    margin: 0 auto;
    z-index: 5;
  }

  .proj-img,
  .v2 .proj-img {
    -webkit-box-shadow: 9px -6px 20px -2px rgba(153, 153, 153, 0.4);
    -moz-box-shadow: 9px -6px 20px -2px rgba(153, 153, 153, 0.4);
    box-shadow: 9px -6px 20px -2px rgba(153, 153, 153, 0.4);
  }

  .proj-desc,
  .v2 .proj-desc {
    height: 200px;
    margin-top: -30px;
  }
}

@media only screen and (max-width: 520px) {
  .location {
    width: 100%;
    margin-bottom: 50px;
  }
}
